.calc-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.calc-options {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: normal;
  width: 20rem;
  margin: 0 auto 1rem;

  h3 {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .underline {
    text-decoration: underline;
  }
}

.calc-container {
  display: flex;
  justify-content: center;
  background-color: #253f65;
  width: 21rem;
  border-radius: 15px;
  margin: 0 auto;
  padding: 1rem 0;
}
