.total-calc {
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.total-percent {
  width: 2rem;
  margin-bottom: 0.5rem;
}

input {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  height: 2rem;
  border: none;
  border-radius: 3px;
  background-color: white;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &:active {
    border: 0px solid transparent;
  }
}
