* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Archivo Narrow', sans-serif;
  background: linear-gradient(106deg, #030506, #091c25);
  color: white;
}
